<template>
  <el-container>
    <el-aside style="width:180px;">
      <AsideComponent />
    </el-aside>
    <el-container>
      <el-header>
        <span>服务器</span>
        <el-button
            type="primary"
            size="large"
            class="logout-button"
            @click="onLogout">
          登出
        </el-button>
      </el-header>
      <el-main v-loading="getServerLoading">
        <el-row class="row">
          <el-button
              type="primary"
              size="large"
              style="float: left;"
              @click="onAddServerShow">
            添加
          </el-button>
        </el-row>
        <el-empty
        :image-size="200"
        v-if="servers.length===0"
        description="暂无数据" />
        <el-row :gutter="12" v-for="(server_group, group_index) in servers" :key="group_index" class="row">
          <el-col :span="8" v-for="(server, index) in server_group" :key="index">
            <el-card @click="onServerClick(server)" class="card">
              <div>
                <span class="card-title">
                  {{server.alias}}
                </span>
                <el-dropdown
                style="float: right;">
                  <el-link
                  type="primary"
                  :underline="false"
                  style="font-size: small;">
                    更多 ▼
                  </el-link>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item class="dropdown-item" @click="onServerClick(server)">管理</el-dropdown-item>
                      <el-dropdown-item class="dropdown-item" @click="onDeleteServerClick(server)">删除</el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>
              </div>
              <br />
              <div class="card-value">
                {{"@"+server.username}}
              </div>
              <br />
              <div class="card-ip">
                {{"ip:"+server.ip}}
              </div>
            </el-card>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </el-container>
  <el-dialog
      v-model="addServerShow"
      title="添加服务器"
      width="30%">
    <div style="margin-top: -20px;" v-loading="addServerLoading">
      <el-input
          v-model="newServer.alias"
          placeholder="服务器别名(可任意设置)"/>
      <el-input
          v-model="newServer.ip"
          placeholder="服务器ip"/>
      <el-input
          v-model="newServer.username"
          placeholder="用户名"/>
      <el-input
          v-model="newServer.password"
          placeholder="密码"
          type="password"
          show-password/>
    </div>
    <template #footer>
      <el-link
      type="primary"
      style="float: left;font-size: small;"
      @click="onTestConnect">
      测试连接
      </el-link>

      <el-icon v-if="connect_status===1" class="status-icon"><Loading /></el-icon>
      <el-icon v-if="connect_status===2" color="green" class="status-icon"><Check /></el-icon>
      <el-icon v-if="connect_status===3" color="red" class="status-icon"><Close /></el-icon>

      <span class="dialog-footer">
        <el-button @click="onAddServerClose">取消</el-button>
        <el-button type="primary" @click="onAddServer">确认</el-button>
      </span>
    </template>
  </el-dialog>
  <el-dialog
      v-model="deleteServerShow"
      title="警告"
      width="30%">
    <span>确认删除？</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="deleteServerShow = false">取消</el-button>
        <el-button type="danger" @click="onDeleteServer">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { Loading, Check, Close } from '@element-plus/icons-vue';
import AsideComponent from "@/components/AsideComponent";
import { getServers, addServer, testConnect, deleteServer } from "@/apis/server";
import { logout } from "@/apis/user";
import { ElMessage } from "element-plus";
export default {
  name: "HomePage",
  components: {AsideComponent},
  data() {
    return {
      newServer: {
        alias: "",
        ip: "",
        username: "",
        password: "",
      },
      servers: [],
      getServerLoading: false,
      addServerShow: false,
      addServerLoading: false,
      deleteServerShow: false,
      deleteServerId: 0,
      connect_status: 0,
      Loading,
      Check,
      Close,
    }
  },
  methods: {
    /**
     * 获取servers
     */
    getServers() {
      this.getServerLoading = true;
      getServers().then((res) => {
        const data = res.data;
        let servers = [];
        for (let i = 0; i < data.length; ) {
          let server_group = [];
          server_group.push(data[i]);
          if (i + 1 < data.length) {
            server_group.push(data[i + 1]);
          }
          if (i + 2 < data.length) {
            server_group.push(data[i + 2]);
          }
          servers.push(server_group);
          i = i + 2;
        }
        this.servers = servers;
        this.getServerLoading = false;
      })
    },
    /**
     * 清空添加服务器表单的数据
     */
    clearAddServerData() {
      this.newServer = {
        alias: "",
        ip: "",
        username: "",
        password: "",
      };
      this.addServerLoading = false;
      this.addServerShow = false;
    },
    /**
     * 测试连接方法
     */
    onTestConnect() {
      this.connect_status = 1;
      testConnect(this.newServer).then((res) => {
        if (res.code === 0) {
          this.connect_status = 2;
          ElMessage({
            message: res.data,
            type: 'success',
          });
        } else {
          this.connect_status = 3;
        }
      })
    },
    /**
     * 添加服务器表单显示
     */
    onAddServerShow() {
      this.addServerShow = true;
    },
    /**
     * 添加服务器表单关闭
     */
    onAddServerClose() {
      this.clearAddServerData();
    },
    /**
     * 添加服务器表单提交
     */
    onAddServer() {
      this.addServerLoading = true;
      addServer(this.newServer).then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: res.data,
            type: 'success',
          });
          this.getServers();
          this.clearAddServerData();
        } else {
          this.addServerLoading = false;
        }
      })
    },
    /**
     * 点击删除服务器，会打开询问框
     * @param server
     */
    onDeleteServerClick(server) {
      this.deleteServerId = server.id;
      this.deleteServerShow = true;
    },
    /**
     * 删除服务器
     * @param server
     */
    onDeleteServer() {
      deleteServer(this.deleteServerId).then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: res.data,
            type: 'success',
          });
          this.getServers();
        }
        this.deleteServerShow = false;
      })
    },
    /**
     * 点击服务器卡片，跳转到服务器详情
     */
    onServerClick(server) {
      this.$router.push({
        path: '/server',
        query: {
          id: server.id,
        }
      });
    },
    /**
     * 用户登出
     */
    onLogout() {
      logout().then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: "登出成功",
            type: 'success',
          });
          this.$router.push('/');
        }
      })
    }
  },
  mounted() {
    this.getServers();
  }
}
</script>

<style scoped>
.el-container {
  height: 100%;
}

.el-header{
  color: #333;
  line-height: 60px;
  font-weight: bold;
  text-align: left;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
}

.el-empty {
  margin-top: 8%;
}

.dropdown-item {
  font-size: small;
}

.status-icon {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
}

.card {
  width: 350px;
  height: 130px;
  line-height: 20px;
  font-weight: normal;
}
.card:hover {
  cursor: pointer;
}
.card-title {
  font-weight: bold;
  float: left;
}
.card-value {
  font-size: small;
  float: left;
  margin-top: 20px;
}
.card-ip {
  font-size: small;
  float: right;
  margin-top: 30px;
}

.row + .row {
  margin-top: 20px;
}

.el-input {
  height: 45px;
  width: 100%;
  margin-top: 15px;
}

.logout-button {
  float: right;
  margin: 10px;
}
</style>
