<template>
  <div class="title">虚拟机管理系统</div>
  <el-card class="box-card">
    <el-input
        class="input"
        v-model="username"
        placeholder="用户名"
        :prefix-icon="User"/>
    <el-input
        class="input"
        v-model="password"
        type="password"
        placeholder="密码"
        :prefix-icon="Lock"
        show-password/>
    <el-link
        class="link"
        type="primary"
        @click="onRegister">
      还没有账号？点我注册➡
    </el-link>
    <el-button
        type="primary"
        @click="onLogin"
        class="login-button">
      登录
    </el-button>
  </el-card>
</template>

<script>
import { User, Lock } from '@element-plus/icons-vue';
import { ElMessage } from 'element-plus'
import { login } from "@/apis/user";

export default {
  name: "LoginPage",
  data() {
    return {
      username: "",
      password: "",
      User,
      Lock,
    }
  },
  methods:{
    onLogin() {
      login(this.username, this.password).then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: '登录成功',
            type: 'success',
          });
          this.$router.push('/home');
        }
      });
    },
    onRegister() {
      this.$router.push('/register');
    }
  }

}
</script>

<style scoped>
.title {
  margin-top: 10%;
  font-size: 35px;
}
.box-card {
  width: 30%;
  margin-left: 35%;
  margin-top: 30px;
}
.input {
  height: 45px;
  width: 100%;
  margin-top: 15px;
}
.login-button {
  height: 45px;
  width: 100%;
  margin-top: 10px;
}
.link {
  float: right;
  margin-top: 5px;
}
</style>
