<template>
  <el-container>
    <el-aside style="width:180px;">
      <AsideComponent />
    </el-aside>
    <el-container>
      <el-header>
        <span>总览</span>
      </el-header>
      <el-main>
        <el-table
            v-loading="getServerLoading"
            :data="servers"
            row-key="ip"
            class="table"
            :tree-props="{ children: 'vms' }" >
          <template #empty>
            <el-empty
                style="height: 500px;"
                v-if="servers.length===0"
                description="暂无数据" />
          </template>
          <el-table-column label="别名" >
            <template #default="scope">
              <span>
                <el-tag
                    size="small"
                    :type="scope.row.type === 0 ? '' : 'success'">
                  {{ scope.row.type === 0 ? "服务器" : "虚拟机" }}
                </el-tag>
                <span style="margin-left: 10px">{{ scope.row.alias }}</span>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="ip/port" >
            <template #default="scope">
              <span :style="{ marginLeft:(scope.row.type === 0 ? '0' : '16px')}" >
                {{ scope.row.type === 0 ? scope.row.ip : scope.row.port }}
              </span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template #default="scope">
              <el-button
                :style="{ marginLeft:(scope.row.type === 0 ? '0' : '16px')}"
                size="small"
                type="primary"
                @click="handleEdit(scope.$index, scope.row)">
                查看
              </el-button>
              <el-button
                size="small"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)">
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-main>
    </el-container>
  </el-container>
  <el-dialog
      v-model="deleteShow"
      title="警告"
      width="30%">
    <span>确认删除？</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="deleteShow = false">取消</el-button>
        <el-button type="danger" @click="onDelete">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import AsideComponent from "@/components/AsideComponent";
import {deleteServer, getServers} from "@/apis/server";
import {deleteVM, getVMs} from "@/apis/virtualMachine";
import {ElMessage} from "element-plus";
export default {
  name: "OverviewPage",
  components: {AsideComponent},
  data() {
    return {
      servers: [
        {
          vms: [{}]
        }
      ],
      getServerLoading: false,
      deleteShow: false,
      deleteRow: "",
      AsideComponent,
    }
  },
  methods: {
    /**
     * 获取servers
     */
    getServers() {
      this.getServerLoading = true;
      getServers().then((res) => {
        let servers = res.data;
        for (let i = 0; i < servers.length; ++i) {
          servers[i].type = 0;
          getVMs(servers[i].id).then((res) => {
            servers[i].vms = res.data;
          })
        }
        // 由于getVMs是异步的,所以在this.servers = servers的时候servers的vms可能还未获取到，
        // 当获取到的时候已经执行过this.servers = servers语句，故页面不会重新加载，所以延迟1s来执行操作
        setTimeout(() => {
          this.servers = servers;
          this.getServerLoading = false;
        }, 1000);
      })
    },
    /**
     * 点击管理
     * @param index
     * @param row
     */
    handleEdit(index, row) {
      if (row.type === 0) {
        this.$router.push({
          path: '/server',
          query: {
            id: row.id,
          }
        });
      } else {
        this.$router.push({
          path: '/virtualMachine',
          query: {
            id: row.id,
          }
        });
      }
    },
    /**
     * 点击删除,弹出提示框
     * @param index
     * @param row
     */
    handleDelete(index, row) {
      this.deleteRow = row;
      this.deleteShow = true;
    },
    /**
     * 真正删除
     */
    onDelete() {
      if (this.deleteRow.type === 0) {
        // 删除服务器
        deleteServer(this.deleteRow.id).then((res) => {
          if (res.code === 0) {
            ElMessage({
              message: res.data,
              type: 'success',
            });
            this.getServers();
          }
          this.deleteShow = false;
        })
      } else {
        // 删除虚拟机
        deleteVM(this.deleteRow.id).then((res) => {
          if (res.code === 0) {
            ElMessage({
              message: res.data,
              type: 'success',
            });
            this.getServers();
          }
          this.deleteShow = false;
        })
      }
    },
  },
  mounted() {
    this.getServers();
  }
}
</script>

<style scoped>
.el-container {
  height: 100%;
}

.el-header{
  color: #333;
  line-height: 60px;
  font-weight: bold;
  text-align: left;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: left;
}

.table {
  width: 60%;
  height: 500px;
  margin-left: 20%;
}
</style>
