<template>
  <div class="title">注册新用户</div>
  <el-card class="box-card">
    <el-input
        class="input"
        v-model="username"
        placeholder="用户名"
        :prefix-icon="User"/>
    <el-input
        class="input"
        v-model="password"
        type="password"
        placeholder="密码"
        :prefix-icon="Lock"
        show-password/>
    <el-input
        class="input"
        v-model="confirmPassword"
        type="password"
        placeholder="验证密码"
        :prefix-icon="Lock"
        show-password/>
    <el-link
        class="link"
        type="primary"
        @click="onBack">
      ⬅已有账号？返回登录
    </el-link>
    <el-button
        type="primary"
        @click="onRegister"
        class="login-button">
      注册
    </el-button>
  </el-card>
</template>

<script>
import { User, Lock } from '@element-plus/icons-vue';
import { register } from "@/apis/user";
import { ElMessage } from "element-plus";

export default {
  name: "LoginPage",
  data() {
    return {
      username: "",
      password: "",
      confirmPassword: "",
      User,
      Lock,
    }
  },
  methods:{
    onRegister() {
      if (this.username === "" || this.password === "" || this.confirmPassword === "") {
        ElMessage({
          message: '请完整填写',
          type: 'warning',
        });
        return;
      }
      if (this.password !== this.confirmPassword) {
        ElMessage({
          message: '两次输入的密码不一致',
          type: 'warning',
        });
        return;
      }
      register(this.username, this.password).then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: '注册成功,即将自动返回登录界面',
            type: 'success',
          });
          // 注册成功，自动返回登录页面
          setTimeout(() => {
            this.$router.push('/');
          },3000);
        }
      });
    },
    onBack() {
      this.$router.back()
    }
  }

}
</script>

<style scoped>
.title {
  margin-top: 10%;
  font-size: 35px;
}
.box-card {
  width: 30%;
  margin-left: 35%;
  margin-top: 30px;
}
.input {
  height: 45px;
  width: 100%;
  margin-top: 15px;
}
.login-button {
  height: 45px;
  width: 100%;
  margin-top: 10px;
}
.link {
  float: left;
  margin-top: 5px;
}
</style>
