<template>
  <el-container>
    <el-aside style="width:180px;">
      <AsideComponent />
    </el-aside>
    <el-container>
      <el-header>
        <el-button class="back-button" @click="onBack">
          <el-icon><Back /></el-icon>
        </el-button>
        <span>{{ server.alias }}</span>
        <el-tabs v-model="activeName" class="tabs">
          <el-tab-pane label="概要" name="概要">
            <el-card class="info-card">
              <div>服务器信息</div>
              <div>
                <span class="info-card-title">名称</span>
                <span class="info-card-value">{{ server.alias }}</span>
                <el-button
                type="primary"
                :icon="Edit"
                text
                @click="onModifyAliasShow" />
              </div>
              <div>
                <span class="info-card-title">服务器ip</span>
                <span class="info-card-value">{{ server.ip }}</span>
              </div>
              <div>
                <span class="info-card-title">用户名</span>
                <span class="info-card-value">{{ server.username }}</span>
              </div>
              <div>
                <span class="info-card-title">虚拟机个数</span>
                <span class="info-card-value">{{ server.vm_count }}</span>
                <el-link
                type="primary"
                :underline="false"
                class="link"
                @click="onLinkClick">
                  管理虚拟机
                </el-link>
              </div>
            </el-card>
          </el-tab-pane>
          <el-tab-pane label="虚拟机" name="虚拟机">
            <el-row class="row">
              <el-button
                  type="primary"
                  size="large"
                  style="float: left;"
                  @click="onAddVMShow">
                添加
              </el-button>
            </el-row>
            <el-empty
                :image-size="200"
                v-if="vms.length===0"
                description="暂无数据" />
            <el-row :gutter="12" v-for="(vm_group, group_index) in vms" :key="group_index" class="row">
              <el-col :span="8" v-for="(vm, index) in vm_group" :key="index">
                <el-card @click="onVMClick(vm)" class="card">
                  <div>
              <span class="card-title">
                {{vm.alias}}
              </span>
                    <el-dropdown
                        style="float: right;">
                      <el-link
                          type="primary"
                          :underline="false"
                          style="font-size: small;">
                        更多 ▼
                      </el-link>
                      <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item class="dropdown-item" @click="onVMClick(vm)">管理</el-dropdown-item>
                          <el-dropdown-item class="dropdown-item" @click="onDeleteVMClick(vm)">删除</el-dropdown-item>
                        </el-dropdown-menu>
                      </template>
                    </el-dropdown>
                  </div>
                  <br />
                  <div class="card-value">
                    {{"@"+vm.username}}
                  </div>
                  <br />
                  <div class="card-ip">
                    {{ "port:" + vm.port }}
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-header>
      <el-main v-loading="getVMLoading">
      </el-main>
    </el-container>
  </el-container>
  <el-dialog
      v-model="modifyAliasShow"
      title="修改名称"
      width="30%">
    <div v-loading="modifyAliasLoading">
      <span class="input-title">新服务器名称</span>
      <el-input
          class="input"
          v-model="newAlias"
          placeholder="服务器别名(可任意设置)"/>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="onModifyAliasClose">取消</el-button>
        <el-button type="primary" @click="onModifyAlias">确认</el-button>
      </span>
    </template>
  </el-dialog>
  <el-dialog
      v-model="addVMShow"
      title="添加虚拟机"
      width="30%"
  >
    <div style="margin-top: -20px;" v-loading="addVMLoading">
      <el-input
          class="add-server-input"
          v-model="newVM.alias"
          placeholder="虚拟机别名(可任意设置)"/>
      <el-input
          class="add-server-input"
          v-model="newVM.port"
          placeholder="虚拟机对应端口"/>
      <el-input
          class="add-server-input"
          v-model="newVM.username"
          placeholder="用户名"/>
      <el-input
          class="add-server-input"
          v-model="newVM.password"
          placeholder="密码"
          type="password"
          show-password/>
    </div>
    <template #footer>
      <el-link
          type="primary"
          style="float: left;font-size: small;"
          @click="onTestConnect">
        测试连接
      </el-link>

      <el-icon v-if="connect_status===1" class="status-icon"><Loading /></el-icon>
      <el-icon v-if="connect_status===2" color="green" class="status-icon"><Check /></el-icon>
      <el-icon v-if="connect_status===3" color="red" class="status-icon"><Close /></el-icon>

      <span class="dialog-footer">
        <el-button @click="onAddVMClose">取消</el-button>
        <el-button type="primary" @click="onAddVM">确认</el-button>
      </span>
    </template>
  </el-dialog>
  <el-dialog
      v-model="deleteVMShow"
      title="警告"
      width="30%">
    <span>确认删除？</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="deleteVMShow = false">取消</el-button>
        <el-button type="danger" @click="onDeleteVM">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { Check, Close, Edit, Loading } from "@element-plus/icons-vue";
import AsideComponent from "@/components/AsideComponent";
import { modifyAlias, getServerById } from "@/apis/server";
import { getVMs, testConnect, addVM, deleteVM } from "@/apis/virtualMachine";
import { ElMessage } from "element-plus";
export default {
  name: "ServerPage",
  components: {AsideComponent},
  data() {
    return {
      server: "",
      newAlias: "",
      newVM: {
        alias: "",
        port: "",
        username: "",
        password: "",
      },
      vms: [],
      activeName: "概要",
      getVMLoading: false,
      modifyAliasShow: false,
      modifyAliasLoading: false,
      addVMShow: false,
      addVMLoading: false,
      deleteVMShow: false,
      deleteVMId: 0,
      connect_status: 0,
      Loading,
      Check,
      Close,
      Edit
    }
  },
  methods: {
    // 整体js
    /**
     * 返回上级
     */
    onBack() {
      this.$router.back();
    },
    /**
     * 跳转到管理虚拟机
     */
    onLinkClick() {
      this.activeName = "虚拟机";
    },
    /**
     * 初始化
     * @param serverId
     */
    async init(serverId) {
      this.getVMLoading = true;
      await getServerById(serverId).then((res) => {
        if (res.code === 0) {
          this.server = res.data;
          this.newAlias = res.data.alias;
        } else {
          this.$router.back();
        }
      });
      getVMs(this.server.id).then((res) => {
        const data = res.data;
        let vms = [];
        for (let i = 0; i < data.length; ) {
          let vm_group = [];
          vm_group.push(data[i]);
          if (i + 1 < data.length) {
            vm_group.push(data[i + 1]);
          }
          if (i + 2 < data.length) {
            vm_group.push(data[i + 2]);
          }
          vms.push(vm_group);
          i = i + 2;
        }
        this.vms = vms;
        this.getVMLoading = false;
      })
    },

    // 概要界面js
    /**
     * 修改服务器名称表单显示
     */
    onModifyAliasShow() {
      this.modifyAliasShow = true;
    },
    /**
     * 修改服务器名称表单关闭
     */
    onModifyAliasClose() {
      this.modifyAliasShow = false;
      this.newAlias = this.server.alias;
    },
    /**
     * 添加服务器表单提交
     */
    onModifyAlias() {
      this.modifyAliasLoading = true;
      modifyAlias(this.server.id, this.newAlias).then((res) => {
        ElMessage({
          message: res.data,
          type: 'success',
        });
        this.server.alias = this.newAlias;
        this.modifyAliasShow = false;
        this.modifyAliasLoading = false;
      })
    },

    // 管理虚拟机界面js
    /**
     * 清空添加虚拟机表单的数据
     */
    clearAddVMData() {
      this.newVM = {
        alias: "",
        port: "",
        username: "",
        password: "",
      };
    },
    /**
     * 测试连接方法
     */
    onTestConnect() {
      this.connect_status = 1;
      testConnect(this.server.id, this.newVM).then((res) => {
        if (res.code === 0) {
          this.connect_status = 2;
          ElMessage({
            message: res.data,
            type: 'success',
          });
        } else {
          this.connect_status = 3;
        }
      })
    },
    /**
     * 添加虚拟机表单显示
     */
    onAddVMShow() {
      this.addVMShow = true;
    },
    /**
     * 添加虚拟机表单关闭
     */
    onAddVMClose() {
      this.addVMShow = false;
      this.addVMLoading = false;
      this.clearAddVMData();
    },
    /**
     * 添加服务器表单提交
     */
    onAddVM() {
      this.addVMLoading = true;
      addVM(this.server.id, this.newVM).then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: res.data,
            type: 'success',
          });
          this.init(this.server.id);
          this.clearAddVMData();
        }
        this.addVMLoading = false;
        this.addVMShow = false;
      })
    },
    /**
     * 点击服务器卡片，跳转到服务器详情
     */
    onVMClick(vm) {
      this.$router.push({
        path: '/virtualMachine',
        query: {
          id: vm.id,
        }
      })
    },
    /**
     * 删除服务器
     */
    onDeleteVMClick(vm) {
      this.deleteVMId = vm.id;
      this.deleteVMShow = true;
    },
    /**
     * 删除服务器
     */
    onDeleteVM() {
      deleteVM(this.deleteVMId).then((res) => {
        if (res.code === 0) {
          ElMessage({
            message: res.data,
            type: 'success',
          });
          this.init(this.server.id);
        }
        this.deleteVMShow = false;
      })
    },
  },
  mounted() {
    const serverId = JSON.parse(this.$route.query.id);
    this.init(serverId);
  }
}
</script>

<style scoped>
/**
  整体部分css
 */
.el-container {
  height: 100%;
}

.el-header{
  color: #333;
  line-height: 60px;
  font-weight: bold;
  text-align: left;
  height: 100px;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
}

.el-empty {
  margin-top: 8%;
}

.back-button {
  background: none;
  font-size: 25px;
  color: #006eff;
  border: 0;
  margin-top: -2px;
  margin-left: -20px;
}

.tabs {
  margin-top: -19px;
}

/**
  概要部分css
 */
.info-card {
  width: 40%;
  margin-left: 25%;
}
.info-card-title {
  font-size: small;
  font-weight: lighter;
  color: darkgray;
  display: inline-block;
  width: 80px;
}
.info-card-value {
  font-size: small;
}
.link {
  font-size: small;
  margin-left: 5px;
}

.input-title {
  font-size: small;
  font-weight: lighter;
  color: darkgray;
  margin-right: 15px;
}
.input {
  height: 40px;
  width: 70%;
  font-size: small;
}

/**
  虚拟机部分css
 */
.card {
  width: 350px;
  height: 130px;
  line-height: 20px;
  font-weight: normal;
}
.card:hover {
  cursor: pointer;
}
.card-title {
  font-weight: bold;
  float: left;
}
.card-value {
  font-size: small;
  float: left;
  margin-top: 20px;
}
.card-ip {
  font-size: small;
  float: right;
  margin-top: 30px;
}

.row + .row {
  margin-top: 20px;
}

.status-icon {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
}

.add-server-input {
  height: 45px;
  width: 100%;
  margin-top: 15px;
}
</style>
