<template>
  <el-container>
      <el-aside style="width:180px;">
        <AsideComponent />
      </el-aside>
    <el-container>
      <el-header>
        <el-button class="back-button" @click="onBack">
          <el-icon><Back /></el-icon>
        </el-button>
        <span>{{ vm.alias }}</span>
      </el-header>
      <el-main>
          <el-card class="info-card">
            <div>虚拟机信息</div>
            <div>
              <span class="info-card-title">名称</span>
              <span class="info-card-value">{{ vm.alias }}</span>
              <el-button
                  type="primary"
                  :icon="Edit"
                  text
                  @click="onModifyAliasShow" />
            </div>
            <div>
              <span class="info-card-title">ip</span>
              <span class="info-card-value">{{ vm.ip }}</span>
            </div>
            <div>
              <span class="info-card-title">port</span>
              <span class="info-card-value">{{ vm.port }}</span>
            </div>
            <div>
              <span class="info-card-title">用户名</span>
              <span class="info-card-value">{{ vm.username }}</span>
            </div>
          </el-card>
          <div style="width: 65%;">
            <div style="display: flex;">
              <el-card class="data-card">
                <div id="cpuChart" class="chart"></div>
              </el-card>
              <el-card class="data-card">
                <div id="memoryChart" class="chart"></div>
              </el-card>
            </div>
            <div style="display: flex; margin-top: 3%;">
              <el-card class="data-card">
                <div id="diskChart" class="chart"></div>
              </el-card>
              <el-card class="data-card">
                <div id="netChart" class="chart"></div>
              </el-card>
            </div>
          </div>
      </el-main>
    </el-container>
  </el-container>
  <el-dialog
      v-loading="modifyAliasLoading"
      v-model="modifyAliasShow"
      title="修改名称"
      width="30%">
    <div>
      <span class="input-title">新虚拟机名称</span>
      <el-input
          class="input"
          v-model="newAlias"
          placeholder="服务器别名(可任意设置)"/>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="onModifyAliasClose">取消</el-button>
        <el-button type="primary" @click="onModifyAlias">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { Edit } from "@element-plus/icons-vue";
import AsideComponent from "@/components/AsideComponent";
import { getVmById, getData5s, modifyAlias } from "@/apis/virtualMachine";

// 引入 echarts
import * as echarts from 'echarts/core';
import { LineChart  } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  GridComponent,
  DatasetComponent,
  TransformComponent
} from 'echarts/components';
import { LabelLayout, UniversalTransition } from 'echarts/features';
import { CanvasRenderer } from 'echarts/renderers';
import {ElMessage} from "element-plus";
echarts.use([
  TitleComponent,
  TooltipComponent,
  GridComponent,
  DatasetComponent,
  TransformComponent,
  LineChart,
  LabelLayout,
  UniversalTransition,
  CanvasRenderer
]);


export default {
  name: "VMPage",
  components: {AsideComponent},
  data() {
    return {
      vm: "",
      newAlias: "",
      modifyAliasShow: false,
      modifyAliasLoading: false,
      continueGetData: true,
      Edit,
    }
  },
  methods: {
    /**
     * 返回上级
     */
    onBack() {
      this.$router.back();
    },
    /**
     * 初始化
     */
    async init(vmId) {
      await getVmById(vmId).then((res) => {
        if (res.code === 0) {
          this.vm = res.data;
          this.newAlias = res.data.alias;
        } else {
          this.$router.back();
        }
      });
      this.getData();
    },
    /**
     * 修改虚拟机名称表单显示
     */
    onModifyAliasShow() {
      this.modifyAliasShow = true;
    },
    /**
     * 修改虚拟机名称表单关闭
     */
    onModifyAliasClose() {
      this.modifyAliasShow = false;
      this.newAlias = this.vm.alias;
    },
    /**
     * 添加服务器表单提交
     */
    onModifyAlias() {
      this.modifyAliasLoading = true;
      modifyAlias(this.vm.id, this.newAlias).then((res) => {
        ElMessage({
          message: res.data,
          type: 'success',
        });
        this.vm.alias = this.newAlias;
        this.modifyAliasShow = false;
        this.modifyAliasLoading = false;
      })
    },
    /**
     * 初始化echarts
     */
     initEcharts(data) {
      let times = [], cpuData = [], diskData = [], memData = [], netRxData = [], netTxData = [];
      for (let i = 0; i < data.length; ++i) {
        times.push(data[i].time);
        cpuData.push(data[i].cpu_usage);
        diskData.push(data[i].disk_usage);
        memData.push(data[i].mem_usage);
        netRxData.push(data[i].net_rx);
        netTxData.push(data[i].net_tx);
      }
      // 初始化图表，设置配置项
      const cpuChart = echarts.init(document.getElementById('cpuChart'));
      // 绘制图表
      const cpuNow = cpuData[cpuData.length - 1];
      cpuChart.setOption({
        title: {
          text: 'CPU使用率（%）',
          subtext: `当前 ${cpuNow}%`,
          subtextStyle: {
            fontSize: 14,
          },
        },
        tooltip: {
          trigger: 'axis',
          formatter: function (params) {
            return params[0].name.replace(/T/, " ").split('.')[0] + '</br>' + 'Cpu使用率&ensp;' + params[0].data + '%';
          },
        },
        grid: {
          top: 80,
          bottom: 40,
        },
        xAxis: {
          interval: 0,
          data: times,
          axisLabel: {
            formatter: function (value) {
              return value.substring(11,16);
            },
          }
        },
        yAxis: {},
        series: [
          {
            data: cpuData,
            type: 'line',
            smooth: true,
            showSymbol: false,
          }
        ]
      });

      const memChart = echarts.init(document.getElementById('memoryChart'));
      const memNow = memData[memData.length - 1];
      memChart.setOption({
        title: {
          text: '内存使用率（%）',
          subtext: `当前 ${memNow}%`,
          subtextStyle: {
            fontSize: 14,
          },
        },
        tooltip: {
          trigger: 'axis',
          formatter: function (params) {
            return params[0].name.replace(/T/, " ").split('.')[0] + '</br>' + '内存使用率&ensp;' + params[0].data + '%';
          },
        },
        grid: {
          top: 80,
          bottom: 40,
        },
        xAxis: {
          data: times,
          axisLabel: {
            formatter: function (value) {
              return value.substring(11,16);
            },
          }
        },
        yAxis: {},
        series: [
          {
            data: memData,
            type: 'line',
            smooth: true,
            showSymbol: false,
          }
        ]
      });

      const diskChart = echarts.init(document.getElementById('diskChart'));
      const diskNow = diskData[diskData.length - 1];
      diskChart.setOption({
        title: {
          text: '磁盘使用率（%）',
          subtext: `当前 ${diskNow}%`,
          subtextStyle: {
            fontSize: 14,
          },
        },
        tooltip: {
          trigger: 'axis',
          formatter: function (params) {
            return params[0].name.replace(/T/, " ").split('.')[0] + '</br>' + '磁盘使用率&ensp;' + params[0].data + '%';
          },
        },
        grid: {
          top: 80,
          bottom: 40,
        },
        xAxis: {
          data: times,
          axisLabel: {
            formatter: function (value) {
              return value.substring(11,16);
            },
          }
        },
        yAxis: {},
        series: [
          {
            data: diskData,
            type: 'line',
            smooth: true,
            showSymbol: false,
          }
        ]
      });

      const netChart = echarts.init(document.getElementById('netChart'));
      const rxNow = netRxData[netRxData.length - 1], txNow = netTxData[netTxData.length - 1];
      netChart.setOption({
        title: {
          text: '网络带宽（Kbps）',
          subtext: `当前 入: ${rxNow} Kbps，出: ${txNow}Kbps`,
          subtextStyle: {
            fontSize: 14,
          },
        },
        tooltip: {
          trigger: 'axis',
          formatter: function (params) {
            return params[0].name.replace(/T/, " ").split('.')[0] + '</br>'
                + params[0].seriesName + '&ensp;' + params[0].data + 'Kbps' + '</br>'
                + params[1].seriesName + '&ensp;' + params[1].data + 'Kbps';
          },
        },
        grid: {
          top: 80,
          bottom: 40,
        },
        xAxis: {
          data: times,
          axisLabel: {
            formatter: function (value) {
              return value.substring(11,16);
            },
          }
        },
        yAxis: {},
        series: [
          {
            name: "入",
            data: netRxData,
            type: 'line',
            smooth: true,
            showSymbol: false,
          },
          {
            name: "出",
            data: netTxData,
            type: 'line',
            smooth: true,
            showSymbol: false,
          }
        ]
      });
     },
    /**
     * 获取数据，每5秒刷新一次
     */
    getData() {
      if (this.continueGetData) {
        getData5s(this.vm.id).then((res) => {
          this.initEcharts(eval("(" + res + ")"));
        })
        setTimeout(this.getData, 5000);
      }
     },
  },
  mounted() {
    this.continueGetData = true;
    const vmId = JSON.parse(this.$route.query.id);
    this.init(vmId);
  },
  unmounted() {
    this.continueGetData = false;
  }
}
</script>

<style scoped>
.el-container {
  height: 100%;
}

.el-header{
  color: #333;
  line-height: 60px;
  font-weight: bold;
  text-align: left;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  display: flex;
}

.back-button {
  background: none;
  font-size: 25px;
  color: #006eff;
  border: 0;
  margin-top: -2px;
  margin-left: -20px;
}

/**
  概要部分css
 */
.info-card {
  color: #333;
  line-height: 60px;
  font-weight: bold;
  text-align: left;
  width: 35%;
  height: 400px;
}
.info-card-title {
  font-weight: lighter;
  color: darkgray;
  display: inline-block;
  width: 80px;
}
.info-card-value {
  font-size: small;
}

.input-title {
  font-size: small;
  font-weight: lighter;
  color: darkgray;
  margin-right: 15px;
}
.input {
  height: 40px;
  width: 70%;
  font-size: small;
}

.data-card {
  color: #333;
  text-align: left;
  width: 50%;
  margin-left: 3%;
}
.chart {
  width: 100%;
  height: 250px;
}
</style>
