<template>
  <el-menu
      :default-active="active"
      text-color="#fff"
      router>
    <el-menu-item index="/home">
      <el-icon><Odometer /></el-icon>
      <span>首页</span>
    </el-menu-item>
    <el-menu-item index="/overview">
      <el-icon><View /></el-icon>
      <span>总览</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  name: "AsideComponent",
  data() {
    return {
      active: this.$route.path
    }
  },
  mounted() {
    let patten = new RegExp("/home|/overview");
    if (!patten.test(this.$route.path)) {
      this.active = "/home"
    }
  }
}
</script>

<style scoped>
.el-menu {
  background-color: #1e222d;
  height: 100%;
}
.el-menu-item:hover {
  background-color: #434a50;
}
</style>
